/*reseteo de parametros*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none; 
     
}


@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf)
}



h1, h2, h3, h4, h5, h6, p, a {
    margin:0;
}
/**************************   grilla principal ******************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none; 
    
    /*
    gap: 10px;
    border: 5%;
    margin-top: 1%;
    */
    min-height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 3fr, 1fr;
    grid-area: 
    "logo     logo    logo    logo    logo"
    "galeria  galeria galeria galeria galeria"
    "pie      pie     pie     pie     pie"
    ;
    justify-items: center;
    }
/**************************   menu de arriba logo + menu ******************/
header {
    
    grid-area: "logo";
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
 
#opciones{
    text-decoration: none;
    color:black;
    
}

.menu-completo{
    
    display: flex;
    flex-direction: row;
    
    
    align-items: center;
    justify-content: center;
    
    font-size: 1.5rem;
    gap: 1rem;
    margin: 1rem;
    
}

.menu-completo > a {
    text-decoration: none;
    color: black;
}
/************************** FORMATEO LOS BOTONES FOCUS HOOVER ETC ******************/
.menu-completo > a:link {
    color: #265301;
}
  
.menu-completo >a:visited {
    color: #437a16;
}
  
.menu-completo >a:focus {
    background: #bae498;
}
  
.menu-completo >a:hover {
    background: #cdfeaa;
}
  
.menu-completo >a:active {
    background: #265301;
    color: #cdfeaa;
}

/************************** gallery ******************/



.gallery{
    grid-area: "galeria";
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.gallery > img{
    margin: .3rem;
    max-width: 400px;
}


.nueva-temporada{
    display: flex;
}
/************************** Footer ******************/

.piecito {
    grid-area: "pie";
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}





/************************** al final los mediaquerys ******************/
@media screen and (min-width: 600px){
    body.gallery { 
        display:grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-auto-rows: 1fr;
    }
}
@media screen and (max-width: 650px){

    .menu-completo{
        display:flex;
        flex-direction: column;
    }
  
}
  


