@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

/*reseteo de parametros*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

html {
    height: 100%;
}

.grid-container > * {
    
    padding: 10px;
    text-align: center;    
}

.grid-container{
    display: grid;
    gap: 10px;
    
    grid-template:   
        "header" .35fr
        "navbar" .15fr
        "main " auto
        "sidebar" .15fr
        "footer" .15fr; 
             
}

.header {
    grid-area: header;
}

.nav {
    grid-area: navbar;
    
    
    
    
}


.main {
    grid-area: main;
    
    

}

.article {
    grid-area: sidebar;
    
    
}

.footer {
    grid-area: footer;
    color: white;
    font-size: 1rem;
    background-color:  black;
}
 
.grilla {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: .1em;
    height: auto;
  }
    
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(165, 164, 164, 0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  











/* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }
    

@media (max-width: 800px) {
    .grilla {
        display: flex;
        flex-direction: column;
        
        height: auto;
      }
    
    

}

