/*reseteo de parametros*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none; 
}

@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf)
}

/**************************   MENU COMPLETO ******************/

/*defino el flex del nav logo principal + menu de navegacion*/


.navegacion{
    display: flex;
    flex-direction: column;
}

.logoPrincipal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-completo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.menu-completo > a{
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    
    
}
/************************** FORMATEO LOS BOTONES FOCUS HOOVER ETC ******************/
.menu-completo > a:link {
    color: #265301;
}
  
.menu-completo >a:visited {
    color: #437a16;
}
  
.menu-completo >a:focus {
    background: #bae498;
}
  
.menu-completo >a:hover {
    background: #cdfeaa;
}
  
.menu-completo >a:active {
    background: #265301;
    color: #cdfeaa;
}

/*******************************************************/
/************************** GALERIA   ******************/
/*Defino el flex de la galeria ajusto ancho y overflow*/
.galeria {
    display: flex;
    justify-content: center;
    max-width: 100%;
    
}

.galeria > a {
    margin: 0.3em;
    max-width: 33%;
    align-items: center;
    overflow-x: hidden;
}



/*----------------------------------------------*/
.sweters1{
    background-image: url(../img/sweters/sweter1.PNG);
}
.sweters2{
    background-image: url(../img/sweters/sweter2.PNG);
}
.sweters3{
   background-image: url(../img/sweters/sweter3.PNG);
}
/*----------------------------------------------*/
.pantalon1{
    background-image: url(../img/pantalones/pantalon1.png);
}
.pantalon2{
    background-image: url(../img/pantalones/pantalon2.png);
}
.pantalon3{
   background-image: url(../img/pantalones/pantalon3.png);
}
/*----------------------------------------------*/
.camisa1{
    background-image: url(../img/camisas/camisa2.PNG);
}
.camisa2{
    background-image: url(../img/camisas/camisa3.PNG);
}
.camisa3{
   background-image: url(../img/camisas/camisas.png);
}

/**************************   PIE ******************/

.nueva-temporada{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    max-width: 100%;
    overflow-x: hidden;
}

.pie{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black; 
    color: white;
  
}

.pie > div{
    justify-content: center;
    align-items: center;
}

.formulario-completo {
    background: #FFF;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.contacto label, .contacto input, .contacto textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
}

.contacto textarea {
    min-height: 100px;
 }

.contacto input:not([type='submit']), .contacto textarea {
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}