/* Reseteo de parámetros */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: $color-fuente;
    min-height: 100%;
}

html {
    height: 100%;
}